<div id="static-widget-number-counter-{{id.value}}" class="static-widget-number-counter" style="text-align:center;display:inline-block" data-count="{{count.value}}">
	<figure style="color:{{countColor.value}};font-size:4rem" class="static-widget-number-counter-count">0</figure>
	<figcaption style="color:{{captionColor.value}}" class="static-widget-number-counter-caption">{{caption.value}}</figcaption>
</div>
