<div class="static-widget-percent-counter">
	<figcaption style="color:{{captionColor.value}}">{{caption.value}}</figcaption>
	<figure style="width:100%;height:1rem;background-color:{{backgroundColor.value}};margin:0px">
		<div class="static-widget-percent-counter-completed" style="height:100%;width:0%;background-color:{{barColor.value}};transition: width 1s ease-in-out;" data-completed="{{completed.value}}"/>
	</figure>
</div>
