<div
	id="static-widget-countdown-timer-{{id.value}}"
	class="static-widget-countdown-timer"
	style="
		text-align: center;
		display: inline-block;
		padding: 0 1rem 1rem 1rem;
		max-width: 10rem;
		background-color: {{backgroundColor.value}};
		color: {{numberColor.value}}
	"
	data-endtime="{{endTime.value}}"
>
	<h4 class="static-widget-title" style="color:{{titleColor.value}}">{{title.value}}</h4>
	<table style="margin: 0 auto">
		<tbody>
			<tr>
				<td class="static-widget-countdown-timer-days-counter">000</td>
				<td class="static-widget-countdown-timer-seperator">:</td>
				<td class="static-widget-countdown-timer-hours-counter">00</td>
				<td class="static-widget-countdown-timer-seperator">:</td>
				<td class="static-widget-countdown-timer-minutes-counter">00</td>
				<td class="static-widget-countdown-timer-seperator">:</td>
				<td class="static-widget-countdown-timer-seconds-counter">00</td>
			</tr>
			<tr style="font-size: x-small">
				<td id="static-widget-countdown-timer-{{id.value}}-days-label">Day</td>
				<td class="static-widget-countdown-timer-spacer"></td>
				<td id="static-widget-countdown-timer-{{id.value}}-hours-label">Hrs</td>
				<td class="static-widget-countdown-timer-spacer"></td>
				<td id="static-widget-countdown-timer-{{id.value}}-minutes-label">Min</td>
				<td class="static-widget-countdown-timer-spacer"></td>
				<td id="static-widget-countdown-timer-{{id.value}}-seconds-label">Sec</td>
			</tr>
		</tbody>
	</table>
</div>
